<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Account</h1>

        OAuth2 Session : <span th:text="${OAUTH2_SESSION.id}" style="color : blue;"></span>
        <br/>

        API /me : <span th:text="${me.name}" style="color : red;"></span>
        <br/>

        <p>
            Hello Domain : <span style="color : blue;">https://account-pamarin.herokuapp.com</span>
        </p>

        Goto <a href="https://oauth2-client-pamarin.herokuapp.com">https://oauth2-client-pamarin.herokuapp.com</a>
        <br/>
        Logout <a href="/logout">/logout</a>
    </body>
</html>
