<!DOCTYPE html>
<!--
Copyright 2017 Pamarin.com
-->
<html>
    <head>
        <title>Code Callback</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Code : <span th:text="${code}" style="color: blue"></span>
        <br/>
        State : <span th:text="${state}" style="color: red"></span>
        <br/>
        Error : <span th:text="${error}" style="color: red"></span>
        <br/>
        Error Description : <span th:text="${error_descripion}"></span>
        <br/>
        <a href="/">Go to Home Page</a>
    </body>
</html>
