<!DOCTYPE html>
<html>
    <head>
        <title>Get Token</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/github.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/json.min.js"></script>
        <style>
            body{
                padding: 1rem;
            }
            
            a{
                margin-right: 15px;
                margin-top: 1rem;
                display: inline-block;
            }
        </style>
        <script>
            function initSnippet() {
              let codes = document.querySelectorAll('code');
              console.log(codes);
              for(let i=0; i<codes.length; i++){
                hljs.highlightBlock(codes[i]);
              }
            }

            addEventListener('load', initSnippet);
          </script>
    </head>
    <body>
        <h1>Token Info</h1>
        <strong>Code</strong> 
        <pre>
            <code th:text="${code}" class="json">code</code>
        </pre>
        <strong>Token Response</strong>
        <pre>
            <code th:text="${response}" class="json">token</code>    
        </pre>    
        <strong>Session</strong>
        <pre>
            <code th:text="${loginSession}" class="json">session</code>   
        </pre>
        
        <a href="/"><< Back to Home Page</a>
        
        <a href="/logout">Logout</a>

    </body>
</html>
