<!DOCTYPE html>
<html>
    <head>
        <title>Get Token</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                word-break: break-all;
                white-space: pre-line;
            }
        </style>
    </head>
    <body>
        Code : 
        <br/>
        <span th:text="${code}" style="color: blue;"></span>
        <br/>
        Token Response : 
        <br/>
        <span th:text="${response}" style="color: red;"></span>        
        <br/>
        Session : 
        <br/>
        <span th:text="${loginSession}" style="color: green;"></span>    
        <a href="/">Back to Home Page</a>
        
        <a href="/logout">Logout</a>

    </body>
</html>
